*{
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #6dcfe8;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 1px black;
}