.quotes {
    height: 100vh;
    width: 100vw;
    background-color: #6dcfe8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes ul {
    width: 60%;
}

.quotes ul li {
    color: #eaeaea;
    font-size: 1.5rem;
}